[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

django = "<2.0,>=1.8"
gunicorn = "==19.7.1"
"psycopg2" = "==2.7.1"
whitenoise = "*"

[requires]
python_full_version = "3.6.4"


[dev-packages]
